@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Imports from different stuff
*/

@import url('./scrollbar.css');

/*
    Actual code
*/

* {
    --bg: #0f0f0f;
    --fg: white;
    --border: #333;
    --anim-speed: 0.1s;
    --border-r: 25px;
    --primary-color: #0079e8;
}

body,
html {
    background-color: var(--bg);
    color: var(--fg);
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

img,
svg {
    user-select: none;
    -webkit-user-drag: none;
}

.placeholder::placeholder {
    color: red;
}

.n-scroll {
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}

.border-color {
    border-color: var(--border);
}

.background-bg {
    background-color: var(--bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-radius-sys {
    border: none;
    border-radius: var(--border-r);
}

.border-d {
    border-radius: var(--border-r);
    border: 1px solid var(--border);
}

.border-l {
    border-radius: 0px var(--border-r) var(--border-r) 0px;
}

.border-ll {
    border-left: 1px solid var(--border);
}

.border-b {
    border-bottom: 1px solid var(--border);
}

.border-r {
    border-right: 1px solid var(--border);
}

.border-t {
    border-top: 1px solid var(--border);
}

.image-banner {
    z-index: 1;
}

.image-edit:hover .image-edit-buttons {
    visibility: visible;
}

.image-edit-buttons {
    z-index: 100;
    visibility: hidden;
}

.image-edit-buttons {
    visibility: hidden;
    transition: var(--anim-speed) ease-in-out;
}

.image-img {
    transition: var(--anim-speed) ease-in-out;
}

.image-edit:hover .image-img {
    filter: brightness(50%);
}

.avatar-banner {
    z-index: 1;
}

.avatar-edit:hover .avatar-edit-buttons {
    visibility: visible;
}

.avatar-edit-buttons {
    z-index: 100;
    visibility: hidden;
}

.avatar-edit:hover .avatar-img {
    filter: brightness(50%);
}

.avatar-img {
    transition: var(--anim-speed) ease-in-out;
}

.avatar-edit-buttons {
    visibility: hidden;
    transition: var(--anim-speed) ease-in-out;
}

/*
    For loading
*/

@keyframes pulsate-wave {
    0% {
        background-color: #111;
    }
    25% {
        background-color: #222;
    }
    50% {
        background-color: #333;
    }
    75% {
        background-color: #222;
    }
    100% {
        background-color: #111;
    }
}

.pulsating-span {
    animation: pulsate-wave 1.5s infinite;
    background-color: #333;
    border-radius: 15px;
    color: transparent;
}

.pulsating-span:nth-child(0) {
    animation-delay: 1s;
}

.active-popup {
    opacity: 1 !important;
}

.modal-style {
    background-color: var(--bg);
    color: white;
    border: 1px solid var(--border);
}

.blurred-background-form {
    backdrop-filter: blur(8px);
}

.blurred-bg-color {
    background-color: rgba(3, 3, 3, 0.9);
}

.post-image-top {
    border-bottom: 1px solid var(--border) !important;
    border-radius: var(--border-r) var(--border-r) 0px 0px;
}

.post-image-left {
    border-right: 1px solid var(--border);
    border-radius: var(--border-r) 0px 0px var(--border-r) !important;
}

.nav-mobile {
    border-radius: var(--border-r);
}

.bg-online {
    background-color: rgb(87, 224, 59);
}
